.input-group-container {
  border: 2px solid;
  display: flex;
  border-radius: 1.5em;
  margin-left: .5em;
  margin-right: .5em;
}

.input-group-container input[type="color"] {
  border: none;
  outline: none;
  appearance: none;
  border-radius: 1.5em 0 0 1.5em;
  height: auto;
  padding: 0;
  cursor: pointer;
}

.input-group-container input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}

.input-group-container input[type="color"]::-webkit-color-swatch {
  border: none;
  border-radius: 1.5em 0 0 1.5em;
}

.text-container {
  line-height: 1.75em;
}

.tags-container {
  margin-top: .5em;
  margin-bottom: .5em;
  display: flex;
}

.tag {
  margin-left: .25em;
  margin-right: .25em;
  padding: .35em .65em;
  font-size: 1em;
  font-weight: 700;
  cursor: pointer;
}

.tag.off {
  text-decoration: line-through;
}

.pill {
  display: inline-block;
  padding: .35em .65em;
  font-size: .75em;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 1.5em;
  border: 2px solid;
  color: black;
  cursor: default;
}

.pill.off {
  border: none;
}
